---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001?key=01309DE4EFF47B440C93080F6972E5A5&vanityurl=probably-never-exist-23rtrdgkljrdltkjR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"success\": 42,\n\t\t\"message\": \"No match\"\n\t}\n}"
  recorded_at: Thu, 30 Jun 2016 04:29:03 GMT
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001?key=01309DE4EFF47B440C93080F6972E5A5&vanityurl=probably-never-exist-23srtdrtTT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"success\": 42,\n\t\t\"message\": \"No match\"\n\t}\n}"
  recorded_at: Thu, 30 Jun 2016 04:37:03 GMT
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001?key=01309DE4EFF47B440C93080F6972E5A5&vanityurl=Test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"steamid\": \"76561197991558078\",\n\t\t\"success\":
        1\n\t}\n}"
  recorded_at: Thu, 30 Jun 2016 04:41:02 GMT
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001?key=01309DE4EFF47B440C93080F6972E5A5&vanityurl=michael
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"steamid\": \"76561197962180080\",\n\t\t\"success\":
        1\n\t}\n}"
  recorded_at: Thu, 30 Jun 2016 04:41:42 GMT
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001?key=01309DE4EFF47B440C93080F6972E5A5&steamid=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"game_count\": 590,\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"appid\":
        10,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        20,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        30,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        40,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        50,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        60,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        70,\n\t\t\t\t\"playtime_foreve[...]
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001?key=01309DE4EFF47B440C93080F6972E5A5&steamid=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"total_count\": 15,\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"appid\":
        252110,\n\t\t\t\t\"name\": \"Lovers in a Dangerous Spacetime\",\n\t\t\t\t\"playtime_2weeks\":
        1270,\n\t\t\t\t\"playtime_forever\": 1270,\n\t\t\t\t\"img_icon_url\": \"1661236ad6879957c73f0090efee34cdba2be649\",\n\t\t\t\t\"img_logo_url\":
        \"ae4b103bc8edbcc9230cd10106295343e10a9951\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        254320,\n\t\t\t\t\"name\": \"Duskers\",\n\t\t\t\t\"playtime_2weeks\": 114,\n\t\t\t\t\"playtime_forever\":
        820,\n\t\t\t\t\"img_icon_url\": \"5a580530011ede61155f364f840cb230bb8eae33\",\n\t\t\t\t\"img_logo_url\":
        \"73fbc14694dab5413245e5d0d7c8616d7a735169\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        450390,\n\t\t\t\t\"name\": \"The Lab\",\n\t\t\t\t\"playtime_2weeks\": 46,\n\t\t\[...]
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001?key=01309DE4EFF47B440C93080F6972E5A5&vanityurl=robinwalker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"steamid\": \"76561197960435530\",\n\t\t\"success\":
        1\n\t}\n}"
  recorded_at: Thu, 30 Jun 2016 04:43:15 GMT
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001?include_appinfo=true&key=01309DE4EFF47B440C93080F6972E5A5&steamid=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"game_count\": 590[...]
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001?include_appinfo=1&key=01309DE4EFF47B440C93080F6972E5A5&steamid=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewoJInJlc3BvbnNlIjogewoJC[...]
