---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001?key=01309DE4EFF47B440C93080F6972E5A5&steamid=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"total_count\": 15,\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"appid\":
        252110,\n\t\t\t\t\"name\": \"Lovers in a Dangerous Spacetime\",\n\t\t\t\t\"playtime_2weeks\":
        1270,\n\t\t\t\t\"playtime_forever\": 1270,\n\t\t\t\t\"img_icon_url\": \"1661236ad6879957c73f0090efee34cdba2be649\",\n\t\t\t\t\"img_logo_url\":
        \"ae4b103bc8edbcc9230cd10106295343e10a9951\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        257510,\n\t\t\t\t\"name\": \"The Talos Principle\",\n\t\t\t\t\"playtime_2weeks\":
        119,\n\t\t\t\t\"playtime_forever\": 174,\n\t\t\t\t\"img_icon_url\": \"8222673c1eb13e6a8a8367ec0e2940a887ecf270\",\n\t\t\t\t\"img_logo_url\":
        \"0392d2bd5d1bec31f2fd283bc4555fdc22dd44a9\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        254320,\n\t\t\t\t\"name\": \"Duskers\",\n\t\t\t\t\"playtime_2weeks\"[...]
