<h1>Dashboard</h1>

<h2>What You've Been Up To</h2>

<h3>Latest Games</h3>

<% @recent_games.each do |game| %>
  <%= game.name %>
<% end %>

<!-- Display Top 4 Latest Played Games -->

<h3>Favorite Games</h3>

<!-- Display Top 10 Longest Played Games -->

<h2>What Your Friends are Up To</h2>

