<h1>Watched Steam Profiles</h1>
<p>Yup, this is pretty bare bones.  The purpose of this application is really to see what games your friends are playing, not really get super-detailed information about them.  You can always <%= link_to 'add new', new_watched_steam_profile_path %> people to this list.</p>
<ul>
  <% @watched_steam_profiles.each do |watched_steam_profile| %>
    <li>
    <%= watched_steam_profile.vanity_name %>
    - <%= link_to 'Unwatch', watched_steam_profile_path(watched_steam_profile),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
      %>
    </li>
  <% end %>
</ul>

<% if @watched_steam_profiles.count == 0 %>
  <p>Feeling a bit lonely?  Why don't you <%= link_to 'stalk some folks', new_watched_steam_profile_path %>?</p>
<% end %>
