/** Global Stylings **/
body {
  background-color: #1c2433;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #7599e0;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: white;
  font-weight: 700;
}

hr {
  border: 0;
  border-bottom: 1px solid #797e9e;
}

#error_explanation {
  background-color: #5d2121;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 10px 5px 10px 5px;
}
  #error_explanation h2 {
    display: none;
  }
  #error_explanation ul {
    list-style-type: none;
  }
  #error_explanation li {
    line-height: 1.5em;
  }

.fine-print {
  color: #b9b7b7;
  font-size: 0.75em;
  line-height: 1.2em;
}

.logo {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  font-weight: 900;
}

/** Buttons **/
.button { 
  background-color: #889fd4;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  font-weight: 800; 
  text-decoration: none; 
}
input.button { color: white; width:auto;display:inline;}
input[type="submit"].button { border: 0;}

p {
  line-height: 1.5em;
  margin-bottom: 30px;
}

/** Page Stylings **/
.content-wrapper {
  background-color: #32344a;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  color: #d8d8d8;
  margin: 65px auto;
  max-width: 720px;
  padding: 10px 50px 10px 50px;
}
.header-navigation {
  background-color: #1b1c29;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}
  .header-navigation a {
    color: #cbd0e2;
    font-weight: bolder;
    line-height: 2.8em;
    text-decoration: none;
  }
  .header-navigation li {
    float: left;
    margin-left: 25px;
  }

/** Basic Grid **/
.grid-row {
  display: flex;
  flex-direction: row;
}
  .grid-row.stand-out {
    background-color: #4a4e69;
    padding: 0 10px 0 10px;
  }
.grid-column {
  flex-grow: 1;
}

/** Form Stylings **/
fieldset.small-form {
  background-color: #4a4e69;
  border: 0;
  margin: 0 auto;
  max-width: 250px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}
form { }
  form input[type="text"], form input[type="email"], form input[type="password"] {
    padding: 10px;
    width: 200px;
  }
  form label {
    display: inline-block;
    margin-bottom: 10px;
  }
  form .field {
    margin-bottom: 25px;
  }
  form .field_with_errors input {
    border: 2px solid #b32c2c;
  }

/** Registration Page **/
.registration-links {
  margin-top: 35px;
  text-align: right;
}
