<div class="library-entry-blurb">
  <div class="header">
    <%= image_tag(game_icon_url(library_entry.game)) %>
    <span class="title"><%= library_entry.name %></span>
    <span class="hours-played">
      <%= library_entry.playtime_in_hours %> hours
    </span>
  </div>
  <div class="playtime">
  </div>
</div>
